        body {
            background-color: #f8f9fa;
        }
        .input-group-text {
    background-color: #f5f5f5;
    border-right: none;
}
.input-group .form-control {
    border-left: none;
}

